{% extends 'base.html' %}


{% block title %}
О компании
{% endblock %}

{% block content %}
<style>
    .highlight {
      color: #44080a;
    }
    .content-section {
      margin-top: 20px;
    }
  </style>



</head>
<body>

<div class="container content-section">
  <h1 class="highlight">О компании</h1>
  <p>Мастерская изделий из металла «АртКовка»</p>

  <p>⚜️ Среди наших клиентов Духовное управление мусульман РБ, Администрации районов, государственные и правительственные учреждения Республики. Крупные корпорации, такие как Леруа Мерлен, ОЗНА, БашХим и другие. Сотни выполненных заказов и довольных клиентов!</p>

  <p>⚜️ Художественная ковка любой сложности и простые изделия из металлоконструкций, такие как лестницы, перила, ограды, заборы, навесы, балконы, беседки, козырьки, ворота, калитки, мебель.</p>

  <p>⚜️ Отправим полный каталог наших работ в WhatsApp и Telegram. Пишите в сообщения.</p>

  <p>⚜️ Выезжаем на замеры по Уфе и пригороду бесплатно. Консультация бесплатно.</p>

  <p>⚜️ Работаем без посредников. Собственные цеха по г. Уфе.</p>

  <p>⚜️ Минимальные цены и гарантия на все работы.</p>

  <p>⚜️ Наши изделия красятся порошковой камерной покраской, обработаны специальным составом, предотвращающим коррозийные процессы. Производство металлоконструкций осуществляется по архитектурным расчетам, с учетом сопротивления материалов и высоким уровнем эксплуатационных свойств.</p>

  <p>⚜️ Любые варианты обшивки: профлист (профнастил), жалюзи (еврожалюзи), жалюзи твинго, сайдинг, поликарбонат, композитно-алюминиевая панель (алюминькомпозит), дерево-композитная панель и другие.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}