{% extends 'base.html' %}

{% block title %}
Кованые перила
{% endblock %}



{% block content %}
<div class="container mt-5 pt-5">
  <h1 class="mt-5">Кованые перила</h1>
  <p>Добро пожаловать на страницу кованых перил! Здесь вы найдете информацию о наших уникальных кованых перилах, которые украсят и обезопасят ваше пространство.</p>
  <p>Мы предлагаем широкий ассортимент кованых перил различных дизайнов и стилей, которые подойдут для любого интерьера и экстерьера. В нашем каталоге вы можете найти:</p>
  <ul>
    <li>Классические кованые перила</li>
    <li>Современные перила с минималистичным дизайном</li>
    <li>Декоративные перила с элементами художественной ковки</li>
    <li>Перила для лестниц, балконов и террас</li>
    <li>Индивидуальные заказы по вашим эскизам</li>
  </ul>
  <h2>Каталог</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Кованые перила 1">
        <div class="card-body">
          <h5 class="card-title">Кованые перила 1</h5>
          <p class="card-text">Описание кованых перил 1.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Кованые перила 2">
        <div class="card-body">
          <h5 class="card-title">Кованые перила 2</h5>
          <p class="card-text">Описание кованых перил 2.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Кованые перила 3">
        <div class="card-body">
          <h5 class="card-title">Кованые перила 3</h5>
          <p class="card-text">Описание кованых перил 3.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Кованые перила 4">
        <div class="card-body">
          <h5 class="card-title">Кованые перила 4</h5>
          <p class="card-text">Описание кованых перил 4.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Кованые перила 5">
        <div class="card-body">
          <h5 class="card-title">Кованые перила 5</h5>
          <p class="card-text">Описание кованых перил 5.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}